[init]
	defaultBranch = main
[user]
	name = Ryan Sawadichai
	email = rsawadichai3@gatech.edu
	signingKey = ""
[credential]
	helper = store
[color]
	ui = auto
[pull]
	rebase = false
	ff = true
[difftool]
  prompt = true
[diff]
  tool = lvimdiff
  colorMoved = default
[difftool "lvimdiff"]
  cmd = "lvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
	tool = meld
	ff = false
  conflictstyle = diff3
[core]
	autocrlf = input
	editor = lvim
  pager = delta
[gpg]
	format = openpgp
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[gpg "ssh"]
	program = ssh-keygen
	allowedSignersFile = ""
[push]
	autoSetupRemote = true
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta]
  navigate = true
  light = false
  line-numbers = true
